body {
    background-color: #b9925e;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    }
    
    h1 {
    text-align: center;
    color: #4b1102;
    }
    
    /* Окружность формы */
    form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ede6b9;
    border: 2px solid #b9925e;
    }
    
    /* Текст формы */
    form label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
    letter-spacing: 3px;
    }
    
    /* Поля в форме */
    form input[type="text"],
    form select,
    form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    border: 2px solid #b9925e;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    }
    
    .form-button{
    background-color: #b9925e;
    color: #4b1102;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    border: 2px solid #b9925e;
    } 
    
    .form-button:hover {
    background-color: #ede6b9;
    border: 2px solid #b9925e;
    }
    
    .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#b9925e;
    }
    
    .modal-content {
    background-color: #ede6b9;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #b9925e;
    width: 80%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #4b1102;
    }
    
    .close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    }
    
    .close:hover,
    .close:focus {
        color: #4b1102;
    cursor: pointer;
    }